<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="x=ua-compatible" content="ie=edge">
	<!-- CDN Bootstrap -->
	<link rel="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
	<!-- Ícones -->
	<link rel="stylesheet" type="text/css" href=" https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css ">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/Public/CSS/style.css">
	<!-- JS Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" defer></script>

	<title>Layout Manual</title>
</head>

<body>
	<aside class="container-fluid">
		<!-- Inicio Sidebar -->
		<div class="sidebar close overflow-auto visible">
			<!-- Inicio Barra superior -->
			<div class="logo-details">
				<i class="bx bx-menu"></i>
				<span class="logo_name">Menu</span>
			</div>
			<!-- Fim Barra superior -->

			<!-- Inicio corpo Sidebar -->
			<ul class="nav-links">
				<!-- Item único -->
				<li>
					<a href="#">
						<i class='bx bx-grid-alt'></i>
						<span class="link_name">Item único</span>
					</a>
				</li>
				<!-- Dropdown -->
				<li>
					<div class="iocn-link">
						<a href="#">
							<i class='bx bx-collection'></i>
							<span class="link_name">Dropdown</span>
						</a>
						<i class='bx bxs-chevron-down arrow'></i>
					</div>
					<ul class="sub-menu">
						<li><a href="#">Teste</a></li>
						<li><a href="#">Teste2</a></li>
						<li><a href="#">Teste3</a></li>
						<li><a href="#">Teste4</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- Fim Sidebar -->
	</aside>

	<!-- Conteúdo da página -->
	<section class="container-fluid main-content">
		<article>
			<div>
				<h1 class="text-center titulo-color ">Neque porro quisqua</h1>
				<h3 class="text-center titulo-color">quia dolor sit amet, consectetur
				</h3>
				<p class="text-center ms-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nibh convallis, interdum lorem
					in, semper quam. Nunc sed mauris nisl. Pellentesque vestibulum lorem neque, in tristique massa
					blandit vel. Suspendisse potenti. Suspendisse nec augue eget nisl egestas facilisis. Nullam
					malesuada rutrum libero eu convallis. In sit amet vehicula sem. Sed vitae pellentesque lorem. Mauris
					egestas fermentum commodo. Morbi ac mattis nibh. Ut sed lectus at arcu facilisis laoreet sit amet
					vel urna. In posuere placerat tortor, pretium pharetra eros tempor et. Vestibulum ut sollicitudin
					risus. Fusce at sem volutpat, consequat est in, suscipit tellus</p>
			</div>
		</article>
	</section>

	<!-- JS para a sidebar -->
	<script src="/Public/JS/script.js"></script>
</body>

</html>